<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cinema 2.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>567B999B1E6871B000DA44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567B99AF1E6871B000DA44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>567B99BA1E6871B100DA44AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
